  <div class="card-notifications">
    <div class="card-notification-sidebar <%#= hazard_notification.read == true ? "read-sidebar" : "safe-sidebar-unread" %>"></div>
    <div class="card-notifications-content">
      <%#= simple_form_for(hazard_notification, url: hazard_notification_read_path(hazard_notification), method: :patch) do |f| %>
      <%#= f.hidden_field :read, :value => true %>
      <%#= button_tag type: :submit, class: "read-notification-button" do %>
      <div class="user-card-info">
          <p>You pressed the Safe Button!</p>
      </div>
      <%# end %>
      <%# end %>
    </div>
  </div>
