<% @outgoing.each do |out| %>
  <div class="card-notifications">
    <div class="card-notification-sidebar" id='unread'></div>
    <div class="card-notifications-content">
      <div class="user-card-info">
        <div class="small-notifications-card-user-avatar">
          <%= cl_image_tag User.find(out.friend_id).avatar, crop: :thumb %>
        </div>
        <p>You are now friends with
        <%= User.find(out.friend_id).first_name %> <%= User.find(out.friend_id).last_name %>
        </p>
      </div>
    </div>
  </div>
<% end %>
