<%#  @users.each do |user| %>

  <div class="col-xs-12">

    <div class="users-card">
      <div class="users-card-user-avatar">

      </div>

      <div class="users-card-user-name">
        <p class="text-center"> Maria Castro<%#= user.first_name %> <%#= user.last_name %></p>
      </div>

      <div class="users-card-add-friend-button">
        <%#= link_to user_friend_requests_path(user.id), method: :post do %>
          <p class="text-center">Add</p>
        <%# end %>
      </div>
    </div>

<%# end %>
