<h1>Your Notifications</h1>

<% @hazard_notifications.each do |hazard_notification| %>
  <% if hazard_notification.user == current_user %>
  <p>You are <%= current_user.state %></p>
  <% elsif hazard_notification.user.friends == current_user.friends_notified %>
  <p>Your <%= @user.relationship %> <%= @user.friendship.first_name @user.friendship.last_name%> is <%= @user.friendship.state %> </p>
<% end %>
<% end %>

<!-- HOW TO UPDATE NOTIFICATION STATUS? 'YOUR FRIEND IS SAFE' ? -->
