<h1>Your Notifications</h1>

<% @my_hazard_notifications.each do |hazard_notification| %>
  <%= hazard_notification.id %>
  <p>You are in a danger zone! </p>
  <%= hazard_notification.user %>


<% end %>

<% @friend_hazard_notifications.each do |hazard_notification| %>
<p>Your friend is in danger</p>
<% end %>




<!-- HOW TO UPDATE NOTIFICATION STATUS? 'YOUR FRIEND IS SAFE' ? -->
