<div class="notifications-container">
  <%= render "components/hazard_notifications_self_danger" %>
  <% @friend_hazard_notifications.each do |hazard_notification| %>
    <% if hazard_notification.active? %>
      <%= render partial: "components/hazard_notifications_friend_is_in_danger", locals: { hazard_notification: hazard_notification } %>
    <% else %>
      <%= render partial: "components/hazard_notifications_friend_safe", locals: { hazard_notification: hazard_notification } %>
      <%= render partial: "components/hazard_notifications_friend_was_in_danger", locals: { hazard_notification: hazard_notification } %>
    <% end %>
  <% end %>
</div>
