
.profile-container {
  height: 100vh;
  overflow: auto;
}

.profile-avatar img {
  border-radius: 50%;
  width: 135px;
  height: 135px;
  background-color: gray;
  margin: 0 auto;
  margin-top: 70px;
}

.profile-name {
  p {
    font-size: 35px;
    margin-top: 35px;
  }
  margin: 0 auto;
  width: 100vw;
  text-shadow: 0.3px 0.3px 1px rgba(0, 0, 0, 0.25);
}

.location-turnon {
  width: 315px;
  height: 55px;
  background-color: #608ACA;
  border-radius: 27.5px;
  margin: 0 auto;
  // margin-top: -260px;
  color: white;
  display: block;
  text-align: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border: none;
  position: absolute;
  bottom: 260px;
  &:focus {
    background-color: #56bf7e;
  }
  a {
      outline: 0;
  }
    a:active {
      outline: 0;
    }
    a:focus {
      outline: 0;
    }
}

.edit {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  width: 223px;
  height:40px;
  border-radius: 27.5px;
  background-color: #79C4D2;
  margin: 0 auto;
  margin-top: 135px;

  p {
    text-align: center;
    color: white;
    padding-top: 6px;
  }
}

.profile-settings-signout-edit {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 175px;
  p {
    text-shadow: 0.3px 0.3px 1px rgba(0, 0, 0, 0.25);
    color: black;
    font-size: 15px;
  }
}

.separation {
  border: 0.5px solid #BCBCBC;
  height: 46px;
}
