<div class="add-friends-top-page">
  <div class="form-container">
    <div class="page-intro add-friend">
      <p>Find your family and friends</p>
    </div>
    <div class="search-form user_first_name">
      <%= form_tag(users_path, method: :get) do %>
      <%= text_field_tag :query, params[:query], class: "form-control", id: "user_first_name",placeholder: "Search" %>
      <% end %>
    </div>
  </div>
</div>


<%= render @users %>

