

<!-- <h1>Users</h1> -->

<%#= form_tag users_path, method: :get do %>
  <%#= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a user"
  %>

<%# end %>
<div class="row">
<%= render 'components/users_cards' %>
</div>
