<% if notice %>
  <div class="alert alert-info alert-dismissible" role="alert"><%= notice %></div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert"><%= alert %></div>
<% end %>
