<div class="home-banner">
  <div class="Stay-Safe">
    <h2 class="banner-text">Stay Safe</h2>
    <span class="description">Be aware of dangerous situations around you and your family</span>
    <a class="button-btn-sign-up" href="#">Get Started</a>
    <div class="question"> 
      <p>New to Stay Safe?</p>
    </div>
    <a class="button-btn-sign-in" href="#">Log In</a>
    </div>
  </div>
</div>