<div class="picture-background">
    <p class="landing-more-info-button">Get to know us</p>

      <h2 class="landing-logo ">Stay Safe</h2>
      <!-- <p class="landing-logo-two-point-oh">2.0</p> -->
      <p class="landing-description ">Be aware of dangerous situations around you and your family</p>
      <%= link_to new_user_session_path do %>
      <p  class="landing-start-button text-center ">Start here</p>
      <% end %>
    </div>
    <div class="landing-more-info hidden">
    <p>Stay Safe allows you to add friends and get life updated if there's a hazard near them! </p>
    <p>The wondering days are over! Join us TODAY!</p>

  </div>
</div>
