
<div class="page-intro">
  <p>Check on your friends and family</p>
</div>

  <div class="friends-cards-container">

    <!-- <div class="outer-box"> -->

      <div class="row friends-cards-row">
        <%= render "components/friends_cards" %>

      </div>
    <!-- </div> -->
  </div>
</div>

