<h1>Friend requests </h1>

  <h2>Incoming</h2>

  <% @incoming.each do |d| %>
  <p>
   <%= User.find(d.user_id).first_name %> <%= User.find(d.user_id).last_name %>
 </p>
 <%= link_to "Accept", friend_request_path(user_id), method: :patch, class: "btn btn-primary" %>

 <% end %>

</tbody>
</table>
<br>

