/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  width: 100vw;
  text-align: center;
  color: white;
  position: absolute;
  top: 0;
  padding: 15px 0;
}
.alert-info {
  background: #466CA4;
}
.alert-warning {
  background: #B43C36;
}

.alert-info, .alert-warning {
  opacity: 0.7;
  border: none;
}
