.form-container {
  width: 315px;
  margin: 30px auto;
  text-align: center;
  h3 {
    padding-bottom: 30px;
  }
  .form-user-name {
    display: flex;
    justify-content: space-between;
    .user_first_name {
      margin-right: 10px;
    }
  }
}

.sign-in-logo {
  margin-top: 110px !important;
}

.sign-in {
  margin: 0 auto;
  margin-top: 70px;
}

#user_current_password, .edit-form #user_email, .edit-form #user_password, .edit-form #user_first_name, .edit-form #user_last_name, .edit-form #user_password_confirmation, .user_search #user_first_name {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: rgba(0,0,0,0.8);
  font-weight: lighter;
}

#user_email, #user_password, #user_first_name, #user_last_name, #user_password_confirmation {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: white;
  font-weight: lighter;
}

#user_email::placeholder, #user_password::placeholder, #user_first_name::placeholder, #user_last_name::placeholder, #user_password_confirmation::placeholder {
  color: rgba(255, 255, 255, 0.4) !important;
}

.edit-form #user_password::placeholder, .edit-form #user_password_confirmation::placeholder, .user_search #user_first_name::placeholder {
  color: rgba(50,50,50,0.6) !important;
}

.user_email, .user_password, .user_first_name, .user_last_name, .user_password_confirmation {
  border-bottom: 1px solid rgba(255,255,255,0.6);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user_current_password, .edit-form .user_email, .edit-form .user_password, .edit-form .user_first_name, .edit-form .user_last_name, .edit-form .user_password_confirmation, .user_search {
  border-bottom: 1px solid rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.user-icon {
  background-image: image-url('form_user.svg');
}
.update-user-icon {
  background-image: image-url('form_user_update.svg');
}
.lock-icon {
  background-image: image-url('form_password.svg');
}
.update-lock-icon {
  background-image: image-url('form_password_update.svg');
}
.envelope-icon {
  background-image: image-url('form_email.svg');
}
.update-envelope-icon {
  background-image: image-url('form_email_update.svg');
}
.search-icon {
  background-image: image-url('form_search.svg');
}

.icons {
  width: 28px;
  height: 19px;
  background-size: cover;
  font-size: 1px;
  margin: 0;
}

.form-button {
  width: 315px;
  border-radius: 27.5px;
  height: 55px;
  margin: 20px 0;
  transition: 0.5s;
  background-color: #58C8D7;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: lighter;
}

.sign-in-forgot-password {
  color: rgba(255, 255, 255, 0.6);
  font-weight: lighter;
  font-size: 16px;
  margin: 0;
  margin-top: -9px;
}

.sign-in-facebbok {
  width: 315px;
  height: 55px;
  border-radius: 27.5px;
  margin: 0;
  margin-top: 40px;
  transition: 0.5s;
  background-color: #406EBB;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  padding: 15px 0;
  color: white;
  font-weight: lighter;
}

.sign-in-sign-up {
  color: rgba(255, 255, 255, 0.6);
  font-weight: lighter;
  font-size: 16px;
  margin: 0;
  margin-top: 9px;
  a {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
  }
}

.add-avatar-button, .add-avatar-button-black {
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid white;
  border-radius: 27.5px;
  font-weight: 300;
  padding: 10px 15px;
  margin-bottom: 15px;
  margin-top: 20px;
}
.add-avatar-button-black {
  color: rgba(50,50,50,0.6);
  border: 1px solid black;
}
