.friends-cards-container {
  min-height: 533px;
  width: 95vw;
  margin: 0 auto;
  padding-bottom: 50px;
}

.friends-cards-row {
  margin: 0 !important;
}

.friends-card-front {
  transition: 1s;
}

.front-shadow {
  box-shadow: 1px 1px 3px RGBA(90, 90, 90, 0.4);
  transition: 1s;
}

.blurred {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.friends-card {
  position: relative;
  border-radius: 5px;
  height: 180px;
  // width: 160px;
  background-color: white;
  margin: 10px 0;
  margin-bottom: 20px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  padding: 0;
}

.friends-card.flipped {
  transform: rotateY(-180deg);
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.friends-card-user-avatar img{
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-color: gray;
  margin-top: 20px;
}

.friends-card-user-name {
  width: 80%;
  margin: 0 auto;
  margin-top: 9px;
  p {
    font-size: 18px;
    text-shadow: 0.3px 0.3px 1px rgba(0, 0, 0, 0.25);
  }
}

.friends-card-corner-button {
  position: absolute;
  width: 31.111px;
  height: 35px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 130px;
  top: 0px;
  left: 0px;
  transition: 1s;
  &.safe {
    background-color: #548F65;
  }
  &.unsafe {
    background-color: #DA2222;
  }
}

.friends-card-big-corner-button {
  position: absolute;
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 145px;
  top: 0px;
  left: 0px;
  transition: 1s;
  &.safe {
    background-color: #548F65;
  }
  &.unsafe {
    background-color: #DA2222;
  }
}

.friends-card-front-arrow {
  position: absolute;
  top: 89%;
  left: 86%;
  font-size: 10px;
  transition: 1s;
  img {
    width: 15px;
    opacity: 0.6;
  }

}
.friends-card-main-hidden {
  opacity: 0;
  transition: 1s;
}

.friends-card-hazard-warnings {
  position: absolute;
  top: 20px;
  left: 15px;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  margin: 0;
  img {
    width: 20px;
    margin: 8px;
  }
  p {
    margin: 0;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    font-size: 12px;

  }
}

.friends-card-hazard-warnings-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 35vw;
  // margin-top: 15px;
  // margin-left: 65px;
  }
.safe-friend {
  &.safe-friend {
    margin-top: 40px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
  }
}

.friends-card-hazard-warnings-appear {
  opacity: 1;
  transition: 3s;
}


.friends-card-back-arrow {
 position: absolute;
  top: 160%;
  left: 5%;
  font-size: 10px;
  transition: 1s;
  width: 20px;
  img {
    width: 15px;
    opacity: 0.6;
  }
}

.friends-card-back {
  transition: 2s;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.hide-back-content {
  opacity: 0;
  transition: 1s;
}

.back-shadow {
  box-shadow: -1px 1px 3px RGBA(90, 90, 90, 0.4);
  transition: 1s;
}

.friends-card-actions {
  // position: absolute;
  // top: 20px;
  // left: 20px;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
    img {
      height: 20px;
      margin: 8px;
    }
    p {
      margin:0 15px;
      color: black;
      font-weight: 400;
      font-size: 18px;
    }
    a {
      margin-top: 75px;
    }
}

.edit-appears {
  opacity: 0.6;
}

