.home-banner {
  background: linear-gradient(to top, rgba(61, 130, 224, 0.61), rgba(41, 135, 81, 0.61)),image-url('hug.png') no-repeat left center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
  
  .Stay-Safe {
    margin-top: 30px;
    margin-bottom: 120px;
    width: 136px;
    height: 41px;
  }
}


.banner-text {
  font-family: $banner-font;
  font-size: 70px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: 0.7px;
  color: rgba(255, 255, 255, 0.88);
  position: absolute;
  margin-top: 218px;
  margin-left: -57px
}

.description {
  font-family: $paragraph-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.13;
  letter-spacing: -1px;
  color: #ffffff;
  margin-top: 352px;
  display: inline-block;
  position: absolute;
  margin-left: -192px;
}

.button-btn-sign-up {
  margin-top: 675px;
  margin-left: -159px;
  position: absolute;
  padding: 12px 110px;
  border-radius: 7px;
  background-color: #58c8d7;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.button-btn-sign-in {
  margin-top: 476px;
  margin-left: -140px;
  position: absolute;
  padding: 12px 110px;
  border-radius: 7px;
  background-color: #58c8d7;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.question {
  margin: 0 0 12.5px;
  position: absolute;
  margin-top: 636px;
  font-size: 15px;
  color: white;
  margin-left: 2px;
}