.picture-background {
  background: linear-gradient(21deg, RGBA(61, 130, 224, 0.96) 25%, RGBA(41, 135, 81, 0.76) 56%),image-url('landing_page_background.svg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  margin: auto;
  position: absolute;
  top: 0;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;
  // align-content: space-between;
}

.landing-more-info-button {
  border-radius: 50px;
  width: 140px;
  height: 25px;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  font-weight: lighter;
  margin: 0;
  margin-top: 10px;
  display: inline-block;
  padding: 1px 0;
}

.landing-more-info {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 13%;
  width: 80%;
  height: 80%;
  left: 10%;
  p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    font-weight: lighter;
  }
}

.blurred {
  color: transparent;
  text-shadow: 0 0 5px rgba(255,255,255,0.3) !important;
}

.landing-logo {
  font-family: $logo;
  font-size: 71px;
  font-weight: bold;
  line-height: 82px;
  letter-spacing: 1.42px;
  color: #EBF2F0;
  margin: 0;
  margin-top: 75px;
  // margin-top: 218px;
  // margin-left: -57px
}

// .landing-logo-two-point-oh {
//   font-size: 23px;
//   line-height: 82px;
//   letter-spacing: 2.72px;
//   font-family: $logo;
//   color: #EBF2F0;
//   margin: 0;
//   margin-top: -18px;
//   font-weight: 400;
// }

.landing-description {
  font-family: $body-font;
  font-size: 25px;
  font-weight: lighter;
  line-height: 1.13;
  color: #ffffff;
  margin: 0;
  padding: 0 20px;
  margin-top: 100px;
  // display: inline-block;
  // position: absolute;
  // margin-left: -192px;
}

.landing-start-button {
  // margin-top: 476px;
  // margin-left: -140px;
  // position: absolute;
  padding: 11.5px 0;
  margin-top: 160px;
  height: 55px;
  width: 315px;
  border-radius: 50px;
  background-color: #2267C3;
  color: white;
  font-size: 22px;
  font-weight: lighter;
  font-family: $body-font;
  opacity: 0.8;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border: none;
  display: inline-block;
}

.wrapper {
  height: 80vh;
  width: 100vw;
  padding: 0 10px;
}

.landing-desc {
  background: url('http://res.cloudinary.com/mnabais/image/upload/c_scale,w_500/v1528882341/ipqjj9dgt73zpeaduuc5.jpg');
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.25);
  background-size: cover;
  position: relative;
}

.landing-desc-img {
  position: absolute;
  bottom: -35px;
  left: 85px;
}

.live-hazards {
  position: absolute;
  bottom: -10px;
  left: 50px;
}

.landing-desc-more {
  padding: 10px;
}

.landing-text {
  font-family: $body-font;
  font-size: 24px;
  font-weight: lighter;
  line-height: 1.13;
  margin: 0;
  padding: 0 20px;
}

.color-text-desc {
  color: #ffffff;
  margin-top: 80px;
}

.color-text-map {
  color: grey;
  margin-top: 80px;
}

.quote {
  padding: 10px;
  p {
    font-size: 16px;
  }
}

.landing-map {
  background: image-url('cityscape.jpg');
  margin-bottom: 0;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.25);
  position: absolute;
}

.landing-map-img {
  position: absolute;
  bottom: 60px;
  left: 50px;
}

.landing-map-text {
  font-family: $body-font;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.13;
  color: #dedfe0;
  margin-top: 25px;
  padding: 25px;
}

.landing-testimonials {
  padding: 15px;
}

.header-solid {
  position: fixed;
  top: 50px;
  left: 0;
  width: 350px;
  height: 40px;
  padding: 15px;
  background-color: #2267C3;
  color: #EBF2F0;
  // color: #f2f7f5;
  border-radius: 50px;
  margin-left: -20px;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-solid.transparent {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.header-text a {
  padding: 5px;
  color: #EBF2F0;
  text-decoration: none;
  color: inherit;
}

// .header-solid {
//   position: fixed;
//   top: 20;
//   left: 0;
//   width: 50vw;
//   height: 40px;
//   padding: 15px;
//   background-color: black;
//   color: #EBF2F0;
//   border-radius: 5px;
// }

// body {
//   position: relative;
//   margin: 0;
//   min-height: 100%;
// }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #1D1F20;
  text-align: center;
  // color: #EBF2F0;
  color: #5c5f60;
  font-size: 14px;
}





