.navbar-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #E7E7E7;
  display: flex;
  height: 47px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 -0.3px 8px #C4C4C4;
}

.navbar-button {
  height: 30px;
  width: 30px;
}

.navbar-icon {
  height: 30px;
  width: 30px;
  object-fit: contain !important;
  &.active path {
    fill: #4D6CA0;
  &.notifications-ping {
    fill: #CA372E !important;
  }

  }
}
