.notifications-container {
  width: 390px;
  margin: 0 auto;
  padding-bottom: 50px;
  margin-top: 58px;

}

.card-notifications {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 370px;
  align-items: center;
  margin-bottom: 10px;
  #unread {
    background-color: #58C8D7;
  }
  #in-danger {
    background-color: #DA2222;
  }
  #safe {
    background-color: #298751;
  }

}

.card-notification-sidebar {
  width: 10px;
  height: 60px;
  background-color: #E2E1E1;
  border-radius: 50px;
}

.card-notifications-content {
  width: 345px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  p {
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 15px;
    font-weight: lighter;
  }
}

.small-notifications-card-user-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: gray;
}

.friend-request-notification-buttons {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 80px;
  padding: 10px 0;
  justify-content: space-between;
}

.friend-request-notification-button {
  border-radius: 27.5px;
  text-align: center;
  img {
    width: 30px;
  }
}

