.read-notification-button {
  background-color: transparent;
  border: none;
}

.notifications-container {
  width: 390px;
  margin: 0 auto;
  padding-bottom: 50px;
  margin-top: 58px;
}

.card-notifications {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 370px;
  align-items: center;
  margin-bottom: 10px;
  .unread {
    box-shadow: 0 0 15px #58C8D7 ;
    background-color: #FAFAFA;
  }
  .read {
    box-shadow: none  !important;
  }
  .unread-sidebar {
    background-color: #58C8D7;
    box-shadow: 0 0 15px #58C8D7;
  }
  .read-sidebar {
    background-color: #E2E1E1 !important;
  }
  .in-danger-unread {
    background-color: #DA2222;
  }
  .safe-unread {
    background-color: #298751;
  }
  .in-danger-sidebar-unread {
    background-color: #DA2222;
    box-shadow: 0 0 15px #DA2222;
  }
  .safe-sidebar-unread {
    background-color: #298751;
    box-shadow: 0 0 15px #298751;
  }
}

.card-notification-sidebar {
  width: 10px;
  height: 60px;

  border-radius: 50px;
}

.card-notifications-content {
  width: 345px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: white;

  p {
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 15px;
    font-weight: lighter;
  }
}

.small-notifications-card-user-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: gray;
}

.friend-request-notification-buttons {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 80px;
  padding: 10px 0;
  justify-content: space-between;
}

.friend-request-notification-button {
  border-radius: 27.5px;
  text-align: center;
  img {
    width: 30px;
  }
}

.open-model-to-check-yourself-safe {
  margin: 0 !important;
  padding: 0 !important;
}

.modal-friends-card-hazard-warnings {
  display: flex;
  flex-direction: column;
  margin: 0;
  opacity: 0.9;
  img {
    width: 20px;
    margin: 8px;

  }
  p {
    margin: 0;
    color: black;
    // rgba(255, 255, 255, 0.9);
    font-weight: lighter;
    font-size: 12px;
  }
}
  .modal-friends-card-hazard-warnings-container {
    margin: 0 auto;
    width: 50%;
  }

.modal-friends-card-hazard-warnings-container {
      display: flex;
      justify-content: space-between;
    }

.close-modal {
  display: inline-block !important;
}

.mark-yourself-safe {
  width: 223px;
  height: 39px;

}
