.read-notification-button {
  background-color: transparent;
  border: none;
}

.notifications-container {
  width: 95vw !important;
  margin: 0 auto;
  padding-bottom: 50px;
  margin-top: 58px;
}

.card-notifications {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
  align-items: center;
  margin-bottom: 10px;
  .unread {
    background-color: #FAFAFA;
  }
  .read {
    box-shadow: none  !important;
  }
  .unread-sidebar {
    background-color: #58C8D7;
    box-shadow: 0 0 15px #58C8D7;
  }
  .read-sidebar {
    background-color: #E2E1E1 !important;
  }
  .in-danger-unread {
    background-color: #DA2222;
  }
  .safe-unread {
    background-color: #298751;
  }
  .in-danger-sidebar-unread {
    background-color: #DA2222;
    box-shadow: 0 0 15px #DA2222;
  }
  .safe-sidebar-unread {
    background-color: #298751;
    box-shadow: 0 0 15px #298751;
  }
}

.card-notification-sidebar {
  width: 10px;
  height: 60px;

  border-radius: 50px;
}

.card-notifications-content {
  width: 93%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: white;

  p {
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 15px;
    font-weight: lighter;
  }
}

.small-notifications-card-user-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: gray;
}

.friend-request-notification-buttons {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 80px;
  padding: 10px 0;
  justify-content: space-between;
}

.friend-request-notification-button {
  border-radius: 27.5px;
  text-align: center;
  img {
    width: 30px;
  }
}

.open-model-to-check-yourself-safe {
  margin: 0 !important;
  padding: 0 !important;
}

.modal-friends-card-hazard-warnings {
  display: flex;
  flex-direction: column;
  margin: 0;
  opacity: 0.9;
  img {
    width: 33px;
    margin: 8px;
    opacity: 0.9;
  }
  p {
    margin: 0;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 400;
    font-size: 18px;
  }
}

.modal-friends-card-hazard-warnings-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80vw;
  margin-top: 15px;
  margin-left: 65px;
}

.close-modal {
  display: none !important;
}

.modal-button {
  margin: 20px 0;
  padding-top: 9px !important;
  height: 40px !important;
  width: 110px !important;
  margin: 0 10px;
  a {
    color: white;
    text-align: center;
    p {
      margin: 0;
    }
  }
  &:focus {
    background-color: #56bf7e !important;
  }
}

.modal {
  position: absolute !important;
  top: 182px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 22px !important;
  z-index: 10040 !important;
  overflow: auto !important;
  overflow-y: auto !important;
  width: 90vw;
}
