.user-card-container {
  width: 367px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.user-card-button {
  width: 80px;
  border-radius: 27.5px;
  height: 30px;
  text-align: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  padding-top: 5px;
  font-size: 16px;
  color: white;
  background-color: #608ACA;
  margin: 0 10px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
.user-card {
  width: 330px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 5px;
  p {
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 15px;
  }
}
.user-card-info {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.small-card-user-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: gray;
}
